<div class="container-fluid" style="background-image: url('assets/img/bg-login.jpg'); background-size: 100% 100%">

  <notifier-container #styleNoti style="color: white;top: 30px;position: absolute;left: 33%;"></notifier-container>
<!--  <img class="bg-img" src="assets/img/bg-login.jpg" alt="">-->

  <div class="login-acc">
    <h3>LOGIN HERE</h3>
    <form class="example-form" action="" style="display: flex; flex-direction: column; width: 100%">
      <mat-form-field class="example-full-width">
        <mat-label>Email or Phones</mat-label>
        <input class="input-acc" type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. dothanhduong@gmail.com">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')"></mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input class="input-acc" type="password" matInput [formControl]="passFormControl" [errorStateMatcher]="matcher" placeholder="">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="passFormControl.hasError('email') && !passFormControl.hasError('required')"></mat-error>
      </mat-form-field>
    </form>

    <section class="example-section">
      <a href="">Forget password</a>
    </section>

    <section style="margin-top: 35px">
      <button class="btn-login" (click)="(this.emailFormControl && this.passFormControl) ? login() : notify('error', 'Bạn vui lòng nhập dữ liệu để đăng nhập!')">Login</button>
    </section>

    <section class="sign-in-register" style="padding-top: 23px; padding-right: 45%;">
    </section>


    <!--    <button mat-raised-button (click)="openDialog()">open Modal</button>-->
  </div>

</div>



